.App {
  text-align: center;
}
body{
  background-color: mediumseagreen;
}

.container{
  width: 20%;
  height: 25%;
  background-color: white;
  margin: 20px;
  border: 3px solid darkgreen;
  border-radius: 10px;
}
.App-logo {
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}
